@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

$main-color: #4BEE9A;
$main-color2: #4BEED5;
$main-color3: #4BDEEE;

@import "bootstrap.min.scss";
@import "main.scss";
@import "about.scss";
@import "contact.scss";
@import "portfolio.scss";
@import "project.scss";
@import "hamburger.scss";
@import "loading.scss";