@media only screen and (min-width : 320px) {

  a:link, a:visited{
    text-decoration: none;
    color: black;
  }

  a:hover{
    text-decoration: none;
    color: $main-color;
  }

  a:active{
    text-decoration: none;
    background-color: $main-color;
    color: white;
  }

    .header {
      font-size: 5rem;
      margin-bottom: 5rem;
      margin-top: 2rem;
      margin-left: 17%
    }

    .top-menu {
        margin: 1% 8% 1% 8%;
        padding-bottom: 0;
        display: flex;
        font-size: 3rem;
        justify-content: space-around;
        border-bottom-style: solid;
        border-bottom-color: #0f0f0f;
        border-bottom-width: 0.5pt;
    }

    .top-menu-button {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 3;
        padding: 1% 2% 1% 2%;
        margin-bottom: 0;
    }

    button:hover{
        text-decoration: none;
        color: $main-color;
      }
    
      button:active{
        text-decoration: none;
        background-color: $main-color;
        color: white;
      }

    .filters-button-group{
        display: flex;
        flex-direction:row;
        width: 100%;
        min-width: 270px;
    }

    button h3{
        font-size: 19px;
        text-align: center;
    }

    button{
        width: 20%;
        background-color: white ;
        border: none;
    }

    .welcome {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        font-family: 'Roboto', sans-serif;
    }

    .jumbotron {
        background-color: white;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }

    .content-wrapper {
        margin: 0 17% 0 17%;
        padding-bottom: 12%;
        display: flex;
        flex-direction: column;
        border-bottom-style: none;

        &__about {
            margin: 0 17% 0 17%;
            padding-bottom: 12%;
            display: flex;
            flex-direction: row;
            border-bottom-style: none;
        }
    }

    * { box-sizing: border-box; }

    body {
        font-family: sans-serif;
    }

    video {
        max-width: 100%;
        max-height: 80%;
        margin: 2% 0 2% 0;
    }
}

@media only screen and (max-height : 480px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {

    .filters-button-group{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        min-width: 4%;
        width: auto;

    }
    button{
        width: auto;
    }

    button h3{
        text-align: left;
        font-size: 25px;
    }


    .content-wrapper {
        flex-direction: column;
    }
    .content{
        display: none;
    }

    .description{
        display: block;
    }
}
