@media only screen and (min-width : 320px) {
    p {
        padding-right: 5%;
        font-family: 'Raleway', sans-serif;
        font-size: 2.7rem;
        width: 100%;
    }

    a {
        text-decoration: none;
    
        &:hover{
          text-decoration: none;
          }
    }

    #content {
        min-height: 80vh;
        display: block;
        width: 100%;
        padding: 5% 10% 0 10%;
        margin: 0;
        transition: all ease-in-out 500ms;
    }

    .link:link, .link:visited{
        text-decoration: none;
        color: black;
        transition: all ease-in-out 200ms;
    }
    
    .link:hover{
        text-decoration: none;
        color: $main-color;
    }

    .link:active{
     text-decoration: none;
    }
    
    .top-menu {
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        justify-content: space-between;
    }

    .top-menu-buttons { 
        display: none;
    }

    .top-menu-button {
        color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 3;
        padding: 1% 2% 1% 2%;
        margin-bottom: 0;
        transition: all ease-in-out 200ms;
    }

    .title {
        text-decoration: none;
        color: black;
        transition: all ease-in-out 200ms;
        font-family: 'Raleway';
        font-size: 3.5rem;
        margin: 0 3rem 3rem 0;
        padding-left: 0;
    }

    button:hover{
        text-decoration: none;
        color: $main-color;
        }
    
        button:active{
        text-decoration: none;
        }

    .filters-button-group{
        display: none;
        flex-direction:row;
        width: 100%;
        min-width: 270px;
    }

    button{
        background-color: white ;
        border: 0;
    }

    .welcome {
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
        font-family: 'Raleway', sans-serif;
    }

    .content-wrapper {
        margin: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        border-bottom-style: none;   
        width: 100%;

        &__about {
            margin: 0 17% 0 17%;
            padding-bottom: 12%;
            display: flex;
            flex-direction: row;
            border-bottom-style: none;
        }
    }

    * { box-sizing: border-box; }

    body {
        font-family: sans-serif;
    }

    video {
        max-width: 100%;
        max-height: 80%;
        margin: 2% 0 2% 0;
    }

    button{
        width: auto;
    }

    button h3{
        text-align: left;
        font-size: 25px;
    }

    .description{
        display: block;
    }

    .footer{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        background-color: #F8F8F8;
    }

    .footer-text{
        align-self: auto;
        font-size: 1.4rem;
        padding-bottom: 2rem;
        color: #323232;
        width: unset;
        padding: 0;
    }

    .footer-link{
        font-size:1.4rem;
        color: #323232;
    }
 
}

@media only screen and (min-width : 480px) {    
    .footer-link{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width : 768px) {
    #content {
        width: 100%;
        padding: 5% 10% 0 10%;
        margin:0;
    }

    .title {
        padding-bottom: 0;
    }
     .top-menu {
        font-size: 3rem;
        justify-content: flex-start;
    }

    .top-menu-buttons { 
        display: flex;
        font-size: 3.5rem;
        padding-top: 1%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .top-menu-button { 
        padding: 0 2rem;
    }

    .footer-text{
        font-size: 1.8rem;
    }

    .footer-link{
        font-size:1.6rem;
    }

}

@media only screen and (min-width : 1200px) {
    
    .title {
        font-size: 4rem;
        padding-bottom: 4rem;
    }   

    #content {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 1rem;
        font-size: 1.2rem;
        line-height: 1.45;  
        transition: all ease-in-out 200ms;
      }

    .top-menu {
        margin: 1% 3rem 1% 3rem;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 3rem;
    }
    .top-menu-buttons { 
        flex-direction: column;
    }
    
    .top-menu-button { 
        padding: 2rem 0;
    }

    .top-menu-button {
        color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 3;
        margin-bottom: 0;
        transition: all ease-in-out 200ms;
    }

    .content-wrapper {
        margin-top: 10rem;
        margin-left: 3.5%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        border-bottom-style: none;   
        width: 60%;

        &__about {
            margin: 0 17% 0 17%;
            padding-bottom: 12%;
            display: flex;
            flex-direction: row;
            border-bottom-style: none;
        }
    }

    .footer-text{
        font-size: 2rem;
    }

    .footer-link{
        font-size:1.8rem;
    }
}
