@media only screen and (min-width : 320px) {
  .highlight{
    display: block;
    height: 100%;
    margin-bottom: 2rem;
  }

  .imgRow{
    display: block;
    height: 50rem;
    margin-bottom: 2rem;
  }

  .description-text{
    align-self: flex-end;
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    padding-right: 0;
  }

  .description{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .highlightImgDiv{
    width: 100%;
    height: 27rem;
    background-size: cover;
    background-position: center;
  }

  .secondaryImgDiv{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
  }

  .paddyImg{
    object-position: left;
  }

  .types{
    font-size: 1.7rem;
    font-weight: 200;
    padding-bottom: 3rem;
    margin-bottom: auto;
  }

  .project-title {
    text-decoration: none;
    color: black;
    transition: all ease-in-out 200ms;
    font-family: 'Raleway';
    font-size: 4rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
  }

  .video {
    width: 100%;
    display: flex;
    height: auto;
    margin: 2rem 0 0 0;
  }
}

@media only screen and (min-width : 480px) {
  .imgRow{
    display: flex;
    justify-content: space-between;
    height: 25rem;
  }

  .secondaryImgDiv{
    width: 49%;
    height: 100%;
    margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  .highlight{
    display: flex;
    margin-bottom: 3rem;
    min-height: 45rem;
  }

  .imgRow{
    display: flex;
    justify-content: space-between;
  }

  .description{
    padding-right: 3rem;
    margin-bottom: 0;
  }

  .highlightImgDiv{
    height: auto;
  }
}

@media only screen and (min-width : 1200px) {
  .description-text{
    font-size: 2.5rem;
  }

  .imgRow{
    min-height: 40rem;
  }

  @-moz-document url-prefix() { 
    .imgRow {
      height: 40rem;
    }
    .highlight{
      margin-bottom: 5rem;
      height: -moz-min-content;
    }
  }

  .highlight{
    margin-bottom: 5rem;
    height: -webkit-fill-available;
    height: 100%;
  }

}