<div class="jumbotron">
  <h2 class='header'>{{model.header}}</h2>
</div>
<div class="content-wrapper">
  <h3 class="jumbotron">
    Contact me at: <br>
    <br>
    <a href="mailto:peterpatrick.scheer@hs-augsburg.de">PeterPatrick.Scheer@HS-Augsburg.de</a>
  </h3>
</div>
