<div class="about-content ">
  <p class="about-text">Hello there, welcome to my Portfolio-Page. 
    My Name is Peter Patrick Scheer, I am studiyng "Interactive Media" at the
    University of applied Sciences in Augsburg.<br> <br>
    While studiyng in Augsburg, I developed a passion for webdesign, and 
    frontend-development.<br> <br>
    Since august 2016, I work for a company in augsburg as a student trainee. 
    During this time, I gathered a lot of experience with Javascript, 
    Html, CSS and the Javascript-framework ember.js. 
  </p>
  <div class="about-img" ></div>
</div>
