<div class="jumbotron">
  <h2 class="header">Rocketbeans TV Bewerbungsvideo</h2>
</div>

<div class="content-wrapper content-wrapper--project">
  <div class="project">
      <video witdth="100%" height="auto" poster="assets/rbtv/RBTV.gif" controls preload loop>
        <source src="assets/rbtv/RBTV.mp4" type="video/mp4">
     </video>
  </div>
</div>


<div class="description content-wrapper">
  <h3 class="jumbotron">
    Hallo Rocketbeans, <br>mit diesem Video möchte ich mich gerne um eine Stelle
    als Praktikant bewerben. Ich hoffe ihr habt Spaß dabei, und wir lernen uns
    bald persönlich kennen. Es handelt sich für mich um ein Pflichtpraktikum,
    und ich bin fast ab sofort verfügbar (Vorlaufzeit wegen Umzug). Für weitere
    Fragen könnt ihr mir gerne eine E-Mail senden. <br>
    <br>
    <a href="mailto:peterpatrick.scheer@hs-augsburg.de">PeterPatrick.Scheer@HS-Augsburg.de</a>

  </h3>
</div>
