<div class="grid">
    {{#each model as |project|}}
      <div style="background-image:url({{project.detail.thumb1}})"
      class="grid-item {{project.gridSize}}">    
        {{#link-to "project" project.id class="item-text"}}
          <p>{{project.hoverText}}</p>
        {{/link-to}}
      </div>
    {{/each}}
</div>