<div class="content-wrapper">
  <div class="grid">
      {{#each model as |project|}}
          <div style="background-image:url({{project.detail.thumb1}})"
            class="grid-item {{project.gridSize}}">
          </div>
      {{/each}}
  </div>
</div>



