<div class="top-menu">
  {{#link-to 'portfolio' class='top-menu-button'}}
    portfolio
  {{/link-to}}

  {{#link-to 'about' class='top-menu-button'}}
    about
  {{/link-to}}

  {{#link-to 'contact' class='top-menu-button'}}
    contact
  {{/link-to}}
</div>

{{liquid-outlet}}
