<div class="content">
  <div class="top-menu">
    {{#link-to 'portfolio' class='title link top-menu-button'}}
      Patrick<span style="font-weight:700">Scheer</span>
    {{/link-to}}
    <div class="top-menu-buttons">
      {{#link-to 'portfolio' class='top-menu-button link'}}
        portfolio
      {{/link-to}}

      {{#link-to 'about' class='top-menu-button link'}}
        about
      {{/link-to}}

      {{#link-to 'contact' class='top-menu-button link'}}
        contact
      {{/link-to}}
    </div>
  </div>

  {{outlet}}
</div>